::selection {
  background: #FF0;
  color: #111;
}
a {
  color: #844;
  text-decoration: none;
}
a:hover {
  color: #111;
  background-color: #FF4;
}
img{
  max-width:600px;
}
.button:hover {
  background-color: #0D95AC;
}
html{
  margin:0;
  padding:0;
  height:100%;
}
body{
  font-family: 'Roboto',Helvetica,sans-serif;
  margin:0;
  padding:0;
  height:100%;
  position: relative;
  background: #111;
  color: #bfbfbf;
}
h1, h2, h3, h1 a, h2 a, h3 a, header a {
  font-family: 'Roboto',Helvetica,sans-serif;
  margin: 0;
  padding: 0;
  color: #bfbfbf;
}
.title{
  font-family: sans-serif;
  font-size: 2.7rem;
  margin-bottom: 0.5rem;
}
#menu {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
#menu ul {
  list-style-type:none;
  padding: 0;
}
#menu>ul>li {
  padding: 0.5rem 0.3rem 0.5rem 1.3rem;
}
#menu ul ul {
  list-style-type:none;
  font-family: inherit;
  font-size: 0.9rem;
  color: #292929;
  list-style-type:none;
  padding-left: 15px;
  padding-bottom: 5px;
}
header{
  border-bottom: 2px solid #3D4040;
  min-height: 55.95px;
  position: relative;
  margin: 1em 0;
  font-family: 'Roboto',Helvetica,sans-serif;
  font-size: 16pt;
  font-weight: 700;
}
.column {
  position: relative;
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
#logo:hover{
  background-color: transparent;
}
#title{
  text-align:center;
  text-indent: -75px;
}
#content{
  width:600px;
  background:white;
}
#menu{
  padding-bottom: 7rem;
  vertical-align: top;
  width: 200px;
  background: #E2E5E9;
}
main{
  padding-bottom: 1em;
}
main::after {
  content: '';
  display: block;
  height: 8em;
}
footer{
  font-size: 10pt;
  position: absolute;
  bottom: 0;
  background: #111;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-top: 2px solid #3D4040;
  height: 2em;
  width: 80%;
}
footer a{
  color: #AFAFAF;
}

@media all and (max-width: 1024px) {
  #wrapper{
    width: 100%;
    margin: 0;
  }
}
.post-meta {
  font-size: 11px;
  color: #828282;
}
.post-list {
  list-style: none;
}
.post-list>li {
  margin-bottom: 1em;
}
.codehilite {
  overflow: scroll;
}
